:root {
    --green: #0F3D3E;
    --lightgreen: #90B77D;
    --dark: #100F0F;
    --cream: #E2DCC8;
    --white: #F1F1F1;
    --black: #111;
}

/** Reset box model **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* =10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /* =16px */
    background-color: var(--cream);
}

/** Global **/

* {
    font-family: 'Dosis', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

p {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.button {
    color: var(--white);
    background-color: var(--lightgreen);
    width: 12rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 6px 7px 3px rgba(0, 0, 0, 0.52);
}

.button:hover {
    color: var(--black);
    background-color: var(--cream);
}

.button a {
    box-sizing: border-box;
    color: var(--white);
}

.bg-color-verde {
    background-color: var(--green);
}

.bg-color-verdeLima {
    background-color: var(--lightgreen);
}

/** Header **/
.navbar .navbar-brand {
    font-family: 'Playfair Display SC', serif;
    color: var(--white);
    font-size: 3.5rem;
}

.navbar .nav-link {
    color: var(--white);
    font-size: 2.6rem;
}

.navbar .navbar-collapse {
    flex-grow: 0;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        align-items: center;
    }
}

.navbar button {
    color: var(--white);
}

/** Banner **/
.banner {
    position: relative;
    width: 100%;
    height: 60rem;
    margin-bottom: 2.5rem;
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.75);
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.banner__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 6, 0.5);
    z-index: -1;
}

.banner__contenido {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 4rem;
}

.banner__text {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    text-shadow: var(--dark) 1px 1px;
}

.banner__subtext {
    font-size: 2rem;
    color: var(--white);
    text-shadow: var(--dark) 1px 1px;
}

.news {
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.news-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.6rem;
}

.border-radius {
    border-radius: 1rem;
}

/* Carrusel */
.carousel .carousel-h {
    font-size: 3.4rem;
}

.carousel .carousel-p {
    font-size: 2rem;
}

/* Section */

.cursos {
    align-items: center;
    gap: 2rem;
}

.card-body {
    height: 100%;
}

.card-title {
    font-size: 2rem;
}

/* footer */
.logo-footer {
    font-size: 3rem;
}

.container {
    padding: 2rem;
}

/* Nosotros */
.bannerNosotros {
    background-image: url(../img/empresa.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerNosotros {
    position: relative;
    width: 75%;
    max-width: 1200rem;
    height: 50rem;
    margin: 2rem auto;
    z-index: -20;
}

.bannerNosotros__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.9);
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
    background: -webkit-linear-gradient(0deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
    background: -moz-linear-gradient(0deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
    z-index: -10;
}

.bannerNosotros__content {
    padding: 4rem;
    width: 35%;
    height: 100%;
    color: var(--white);
    z-index: 10;
}

.bannerNosotros__content h2 {
    margin-bottom: 3.5rem;
    font-size: 4rem;
}

.bannerNosotros__content p {
    font-size: 2rem;
}

@media (max-width: 960px) {
    .bannerNosotros__content {
        width: 100%;
        color: var(--white);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .bannerNosotros__shadow {
        background: rgba(1, 1, 1, 0.9);
        background: linear-gradient(90deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
        background: -webkit-linear-gradient(90deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
        background: -moz-linear-gradient(90deg, rgba(1, 1, 1, 0.9) 35%, rgba(0, 255, 0, 0.05) 90%);
    }
}

/* staff */

.staff {
    width: 70%;
    margin: 0 auto 3rem;
    border-top: solid var(--black) 1px;
}

.staff__title {
    text-align: center;
    margin: 2rem 0;
}

/* Cursos */
.cursos {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cursos__title {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

.center {
    object-fit: cover;
    object-position: center;
}
/* Inspirate */
.gallery-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
}

.gallery {
    width: 90%;
    margin: 2rem auto;
    max-width: 120rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20rem 30rem;
    gap: 1rem;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}


.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .w-3 {
        grid-column: span 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Contacto */
.map-container {
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.map-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.map {
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

.btn-size {
    font-size: 1.5rem;
}